<div>
  <%= link_to("View Profile",profile_path(current_user.id)) %>
</div>
<div>
  <%= link_to("All Users",all_users_path) %>
</div>
<div>
  <%= link_to("Post New Tweet",new_tweets_path) %>
</div>
<div>
  <%= link_to("See Tweets",my_tweets_path) %>
</div>



