<div>Followings of <%= @user.email %></div>
<% if @followings.present? %>
  <%@followings.each do |following| %>
    <div>
      <p> <%= following.user.email %></p>
    </div>
  <% end %>
  <% else %>
  <div>No Record Found.</div>
<% end %>