<% if @users.present? %>
  <%@users.each do |user| %>
    <div>
      <p> <%= user.email %><span><%= link_to("follow" ,follow_path(:user_id=>user.id),:method=>:post) %></span></p>
    </div>
  <% end %>
<% end %>